<div style="text-align: center;">
  <h1> Welcome to {{ title }}</h1>
  <!-- <button (click)="show=!show">{{show ? "hide":"show"}}</button>
  <br>
  <div *ngIf="show;else elseBlock">Value Shown</div>
  <ng-template #elseBlock>Text Hidden</ng-template>
  <app-newcomp></app-newcomp>
  <app-testcomp></app-testcomp>
  <p [ngStyle]="{backgroundColor:getColor()}">Welcome to {{title}} {{number}}</p>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Department</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let employee of employees">
          <td>{{employee.name}}</td>
          <td>{{employee.dept}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->
<!-- propertybinding -->
<!-- <button class="btn btn-primary" [disabled]="!allow">Allow</button>  -->
<!-- Event Binding -->
<button class="btn btn-primary" (click)="onAllow()">Allow</button> 
<!-- <img [src]="imgurl"/> -->
<p>{{display}}</p>
<!-- <input type="text"
class="form-control"
(input)="OnUpdateName($event)">
<p>{{Name}}</p> -->

<input [(ngModel)]="username1"/>
<p>{{username1}}</p>